mat-card {
	margin-bottom: 16px;

	mat-card-header {
		margin-bottom: 8px;

		img {
			width: 60px;
			height: 60px;
		}

		::ng-deep .mat-card-header-text {
			margin-top: auto;
			margin-bottom: auto;
		}

		mat-card-title {
			margin-bottom: 4px;

			span {
				font-size: 12px;
				font-weight: 400;
				line-height: initial;
				color: #c7c7c7;
			}
		}

		mat-card-subtitle {
			margin: 0px;
		}

		button {
			margin-left: auto;
			opacity: 0;
			transition: opacity 0.2s ease-in-out;
		}
	}

	mat-card-content {
		mat-form-field {
			width: 100%;
		}
	}

	mat-card-actions {
		padding: 0px;
		text-align: right;
		opacity: 0;
		transition: opacity 0.2s ease-in-out;
	}

	&:hover {
		mat-card-header {
			button {
				opacity: 1;
			}
		}

		mat-card-actions {
			opacity: 1;
		}
	}
}