<div class="container" [class.is-mobile]="mobileQuery.matches">
	<mat-toolbar color="primary">
		<button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
		<span class="app-name">Title</span>
		<span class="spacer"></span>
		<a mat-icon-button routerLink="/login"><i class="fas fa-sign-in-alt"></i></a>
	</mat-toolbar>
	<mat-sidenav-container [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
		<mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" [opened]="!mobileQuery.matches">
			<mat-nav-list>
				<div class="profile">
					<h2>Tarek</h2>
					<img src="" alt="Avatar">
				</div>
			</mat-nav-list>
		</mat-sidenav>
		<mat-sidenav-content>
			<div class="content">
				<router-outlet></router-outlet>
			</div>
		</mat-sidenav-content>
	</mat-sidenav-container>
</div>