<div class="container">
	<mat-card class="card">
		<mat-card-header>
			<mat-card-title>Register</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<mat-form-field appearance="fill">
				<mat-label>Enter your name</mat-label>
				<input matInput [formControl]="name" required>
				<mat-error *ngIf="name.invalid && (name.dirty || name.touched)">
					<ng-container *ngIf="name.hasError('required')">You must enter a value</ng-container>
				</mat-error>
			</mat-form-field>
			<mat-form-field appearance="fill">
				<mat-label>Enter your email</mat-label>
				<input matInput [formControl]="email" required>
				<mat-error *ngIf="email.invalid && (email.dirty || email.touched)">
					<ng-container *ngIf="email.hasError('required')">You must enter a value</ng-container>
					<ng-container *ngIf="email.hasError('email')">Not a valid email</ng-container>
				</mat-error>
			</mat-form-field>
			<mat-form-field appearance="fill">
				<mat-label>Enter your password</mat-label>
				<input matInput [type]="hidePassword ? 'password' : 'text'" [formControl]="password" required>
				<button mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
					<mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
				</button>
				<mat-error *ngIf="password.invalid && (password.dirty || password.touched)">
					<ng-container *ngIf="password.hasError('required')">You must enter a value</ng-container>
				</mat-error>
			</mat-form-field>
			<mat-form-field appearance="fill">
				<mat-label>Enter your country</mat-label>
				<input matInput [formControl]="country" required>
				<mat-error *ngIf="country.invalid && (country.dirty || country.touched)">
					<ng-container *ngIf="country.hasError('required')">You must enter a value</ng-container>
				</mat-error>
			</mat-form-field>
		</mat-card-content>
		<mat-card-actions>
			<button mat-raised-button color="primary" [disabled]="!(name.valid && email.valid && password.valid && country.valid) || isBusy" (click)="onRegister($event)">Register</button>
			<a mat-button routerLink="/login">Login</a>
		</mat-card-actions>
	</mat-card>
</div>