.container {
	.card {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		mat-card-content {
			margin: 0px;

			mat-form-field {
				width: 100%;

				&:not(:last-child) {
					margin-bottom: 8px;
				}
			}
		}

		mat-card-actions {
			text-align: center;
		}
	}
}