<mat-card>
	<mat-card-header>
		<img mat-card-avatar [src]="post.user.avatar" alt="Avatar">
		<mat-card-title>{{ post.user.name }} <span>{{ post.user.country }}</span></mat-card-title>
		<mat-card-subtitle>
			<a [routerLink]="['/posts', post.id]">{{ post.created_at_human }}</a>
		</mat-card-subtitle>
		<button mat-icon-button (click)="onDelete($event)" [disabled]="isBusy" *ngIf="post.user.id == user?.id && !showEdit"><mat-icon>close</mat-icon></button>
	</mat-card-header>
	<mat-card-content>
		<p *ngIf="!showEdit">{{ post.body }}</p>
		<mat-form-field appearance="fill" *ngIf="showEdit">
			<mat-label>Enter post body</mat-label>
			<textarea matInput cdkTextareaAutosize [formControl]="body" rows="5"></textarea>
			<mat-error *ngIf="body.invalid && (body.dirty || body.touched)">
				<ng-container *ngIf="body.hasError('required')">You must enter a value</ng-container>
			</mat-error>
		</mat-form-field>
		<mat-accordion>
			<mat-expansion-panel>
				<mat-expansion-panel-header>
					<mat-panel-title>Comments</mat-panel-title>
				</mat-expansion-panel-header>
				<app-comment-form *ngFor="let comment of post.comments" [comment]="comment" (deleted)="onCommentDeleted($event)"></app-comment-form>
				<mat-form-field appearance="fill">
					<mat-label>Enter comment body</mat-label>
					<textarea matInput cdkTextareaAutosize [formControl]="comment" rows="5"></textarea>
					<mat-error *ngIf="comment.invalid && (comment.dirty || comment.touched)">
						<ng-container *ngIf="comment.hasError('required')">You must enter a value</ng-container>
					</mat-error>
				</mat-form-field>
				<div class="create-comment">
					<button mat-raised-button color="primary" [disabled]="!body.valid || isBusy" (click)="onCreateComment($event)">Add</button>
				</div>
			</mat-expansion-panel>
		</mat-accordion>
	</mat-card-content>
	<mat-card-actions>
		<button mat-raised-button color="accent" [disabled]="isBusy" (click)="showEdit = true" *ngIf="post.user.id == user?.id && !showEdit">Update</button>
		<button mat-raised-button color="accent" [disabled]="isBusy" (click)="onUpdate($event)" *ngIf="post.user.id == user?.id && showEdit">Update</button>
		<button mat-raised-button color="warn" [disabled]="isBusy" (click)="showEdit = false" *ngIf="post.user.id == user?.id && showEdit">Cancel</button>
	</mat-card-actions>
</mat-card>