.flex {
	display: flex;
	align-items: baseline;
	justify-content: space-between;

	.title {
		margin: 0px;
		font-size: 16px;
		font-weight: 400;
		line-height: 28px;
	}

	.message {
		margin: 0px;
	}
}